.navigationBar {
	width: 100%;
	height: 5em;
	position: fixed;
	padding: 0.4em;
	-webkit-transition:height 300ms ease;
	        transition:height 300ms ease;
	background-color: rgba(10,10,10,0.7);
}

.transitionScroll {height: 3.5em;}

.navigationLinks {
	list-style: none;
	line-height: 5em;
	float: right;
	margin-right: 6.5em;
	-webkit-transition: all 300ms ease;
	        transition: all 300ms ease,
}

.transitionScrollLinks {
	line-height: 3.5em; 
	margin-right: 11.5em;
}

.navigationLinks li {
	display: inline;
	border-color:    rgba(255,255,255,0);
	transition: border-color 185ms ease
}

.navigationBar li:hover { 
	padding-bottom: 8px;
	border-bottom:  solid 0.1em rgba(255,255,255,0.7);
}

.navigationLinks a{
	padding: 0.5em;
	margin-right: 1.5em;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
}

.navigationLinks a:last-child{
	margin-right: 0;
}


.navigationLinks a:active, .navigationLinks a:visited {
	color: #fff;
	text-decoration: none;
}

.logoBox {
	width: 16em;
	height: 100%;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: auto 100%; 
	float: left;
	margin-left: 4.5em;
	-webkit-transition: margin-left 300ms ease;
	        transition: margin-left 300ms ease;
}

.transitionScrollLogoBox { margin-left: 9.5em;}

.navigaitonButton {display: none;}


@media screen and (max-width:925px) {
	.navigationLinks {
		margin-right: 2.5em;
	}

	.logoBox {margin-left: 0.5em;}
}

@media screen and (max-width: 710px) {
	.navigationBar {
		height: 20.5em;
		padding: 0;
		-webkit-transform:translate3d(0, -15.9em,0);
		        transform:translate3d(0, -15.9em,0);
		-webkit-transition: -webkit-transform 300ms ease;
		        transition: transform 300ms ease;	
		 -webkit-transform-style: preserve-3d;	
	}

	.transitionTop {-webkit-transform:translate3d(0, 0,0);transform:translate3d(0, 0,0);}

	.navigationLinks {
		line-height: 2.6em; 
		float: none;
		text-indent: 2em;
		width: 12em;
	}

	.navigationLinks li{
		width: auto;
		border-bottom: none;
		display: list-item;
	}

	.navigationLinks li:hover {
		border-bottom: none;
		padding: 0;
	}

	.navigationLinks li:first-child {margin-top: 0.4em;}

	.navigationLinks a {
		width: auto;
		padding: 0;
		margin: 0;	
	}

	

	.logoBox { 
		width: 12em;
		height: 3.5em;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto 0.5em auto;
		float: none;
	}

	.navigationButton {
		display: block;
		width: 2.5em;
		height: 2.5em;
		border: 0.1em solid #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 2em 1em 0;
	}
}