.navigationBar {
	width: 100%;
	height: 5em;
	position: fixed;
	padding: 0.4em;
	transition:height 250ms ease;
}

.navigationBar:before {
	background: url(../images/navigationBackground.png) repeat ;
	opacity: 0.25;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
}




}

.transitionScroll {height: 3.5em;}

.navigationLinks {
	list-style: none;
	line-height: 5em;
	float: right;
	margin-right: 6.5em;
	transition:line-height 250ms ease;
}

.transitionScrollLinks {line-height: 3.5em;}
.navigationLinks li {
	margin-right: 1.5em;
	display: inline;
}

.navigationLinks a:last-child li{
	margin-right: 0;
}

.navigationLinks a, .navigationLinks a:hover,.navigationLinks a:visited, .navigationLinks a:active {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	font-size: 1.3em;
}

.logoBox {
	width: auto;
	height: 100%;
	float: left;
	margin-left: 4.5em;
}

.logoBox img {
	width: auto;
	height: 100%;
}

.navigaitonButton {display: none;}



@media screen and (max-width:900px) {
	.navigationLinks {
		margin-right: 2.5em;
	}

	.logoBox {margin-left: 0.5em;}
}

@media screen and (max-width: 665px) {
	.navigationBar {
		height: 20.5em;
		padding: 0;
		top: -15.9em;
		transition: top 300ms ease;

		
	}

	.transitionTop {top:0;}

	.navigationLinks {
		line-height: 3em; 
		float: none;
		text-indent: 2em;}

	.navigationLinks li{display: list-item; }

	.logoBox { 
		width: 12em;
		height: 3.5em;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto 0.5em auto;
		float: none;
	}

	.navigationButton {
		display: block;
		width: 2.5em;
		height: 2.5em;
		border: 0.1em solid #fff;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0 2em 1em 0;
	}
}